"*":
  "atom-beautify":
    general:
      _analyticsUserId: "bf14a3a3-fb0b-4dfe-a725-bab44168efc9"
  "atom-typescript": {}
  "autoclose-html": {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "close-tags": {}
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "merge-conflicts"
      "japanese-wrap"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    telemetryConsent: "limited"
  docblockr: {}
  editor:
    fontFamily: "Ricty Diminished"
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "f8184cd3-f8eb-4c1c-a083-df3af3142801"
  "file-icons": {}
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder": {}
  isearch: {}
  "japanese-wrap":
    characterWidth: {}
  "language-babel":
    transpileOnSave: false
  linter:
    lintOnChange: false
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-eslint":
    disableFSCache: true
    disableWhenNoEslintrcFileInPath: true
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic. text.html.vue"
    ]
  "linter-ui-default": {}
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  "one-dark-ui":
    tabSizing: "Minimum"
  preview:
    _analyticsUserId: "8e3d039b-ce36-4aad-b77d-f177796a4c9f"
  react: {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "tree-view":
    squashDirectoryNames: true
  "vim-mode":
    startInInsertMode: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wordcount:
    files: {}
  zentabs:
    maximumOpenedTabs: 20
